<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>分类新增</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>

<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached  segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog后台</h2>
            <a href="#"class="m-item item m-mobile-hide"> <i class="small home icon"></i> 博客</a>
            <a href="#"class="m-item item m-mobile-hide"><i class="small idea icon"></i> 分类</a>
            <a href="#"class="m-item item m-mobile-hide"><i class="small tags icon"></i> 标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image " src="https://picsum.photos/id/1010/100/100">
                        武玉祥
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mbile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="teal active   item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="teal item">列表</a>
        </div>
    </div>
</div>





<!-- 中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#"  th:object="${type}" th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})} "  method="post" class="ui form">
            <input type="hidden" name="id" th:value="*{id}">

            <div class=" field">
                <div class="ui left labeled input">
                    <label  class="ui teal basic label">分类</label>
                    <input  type="text" name="name" placeholder="分类名称" th:value="*{name}">
                </div>
            </div>


            <div class="ui error message"></div>

                    <!--/*/
                        <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
                        <i class="close icon"></i>
                        <div class="header">验证失败</div>
                        <p th:errors="*{name}">提交信息不符合规则</p>
                        </div>
                    /*/-->

                        <div class="ui right aligned container">
                            <button class="ui button" type="button" > <a href="#" th:href="@{/admin/types}">返回</a></button>
                            <button class="ui teal submit button">提交</button>
                        </div>

                    </form>
                </div>
            </div>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>




            <!----最底部footer---->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-large ">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.png" class="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">博主故事</a>
                    <a href="#" class="item">博主故事</a>
                    <a href="#" class="item">博主故事</a>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email 3200525742@qq.com</a>
                    <a href="#" class="item">qq 3200525742</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header">blog</h4>
                <div class="ui inverted link list">
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的博客，希望可以帮助正在阅读的你,我会发一些关于编程的知识以及一些有趣的事情在上面</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 1998 - 2020 xiaowu. All Rights Reserved. 作者 版权所有</p>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<!-- jquery加载 -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!-- semantic加载-->
<script src="../../static/lib/editormd/editormd.min.js"></script>


<script>

    //markdown编辑器
    var contentEditor;
    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "../static/lib/editormd/lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });


    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('m-mobile-hide')
    });

    $('.ui.dropdown').dropdown({
        on : 'click'
        });

    $('.ui.form').form({
        fields:{
            title:{
                identifier:'name',
                rules:[{
                    type: 'empty',
                    prompt:'前端验证中,请输入分类名称'

                }]
            }
        }
    })

    $('.message .close')
        .on('click',function(){
            $(this)
                .closest('.message')
                .transition('fade');
        })

</script>


</body>
</html>











